@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500;600;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html{
    font-size: 10px;
}

h1, h2, h3{
    font-family: 'Exo', sans-serif;
    font-weight: 600;
    margin-bottom: 0;
}

h1 {
    font-weight: 700;
    font-size: 6.4rem;
    margin-top: 4.2rem;
}

h2{
    font-size: 3.6rem;
}

h3{
    font-size: 2.4rem;
}

h4 {
    font-family: 'PT Sans', sans-serif;
    color: #ED1B2F;
    font-size: 1.8rem;
    margin-bottom: 0;
}

h3 + h4, h2 + h4{
    margin-top: 0;
}

a, a:hover, a:visited {
    color: inherit;
    text-decoration: inherit;
}

p {
    color: rgba(255,255,255, 0.66);
    margin-top: 10px;
}

p a{
    text-decoration: underline;
    color: white;
    transition: color 0.15s ease-out;
}

p a:hover{
    color: #ed1b2f;
    text-decoration: underline;
}

body{
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 2.4rem;
    background-color: #060918;
    background-image: url('../images/styling/diableVert.jpg');
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    color: white;
    margin: 0;
}

@media screen and (max-aspect-ratio: 3/2){
    body{
        background-size: auto 100vh;
    }
}

.twitter-timeline{
    float: right;
}

.katex {
    color: white;
}